.floating-nav {
  width: 30%;
  background-color: black;
  color: $color1;
  padding: 20px;
  position: fixed;
  height: 100vh;
  display: flex;
  flex-direction: column;
  z-index: 3;

  @include tablet {
    position: relative;
    width: 100%;
  }

  &__logoGazeta {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 11px;
  }

  &__content {
    display: flex;
    align-items: center;
    font-size: xx-large;
    font-weight: 300;
    gap: 20px;
    margin: auto 0;

    img {
      width: 100%;
      max-height: 450px;
      flex-shrink: 0;

      @include tablet2 {
        width: 80%;
      }
      @include mobile {
        width: 60%;
      }
    }
  }

  &__logSerwice {
    flex-shrink: 0;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__social {
    display: flex;
    gap: 2px;
  }

  &__partner {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }
}
