.glide {
  display: flex;
  flex-direction: column-reverse;

  &__arrows {
    display: flex;
    gap: 1px;
  }

  &__arrow {
    background-color: $color3;
    border: 0;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  &__arrow:hover {
    background-color: $color4;
  }
}
